.hero{
    position: relative;
}
.banner_img{
    width: 100%;
    height: 100%;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
}
.hero-caption{
    position: absolute;
    width: 100%;
    padding-left: 6%;
    bottom: 0%;
}
.caption_img{
    width: 20%;
    max-width: 420px;
    margin-bottom: 2px;
    
}

.hero-caption p{
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
}

.hero-btns{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}

.hero-btns .btn img{
    width: 25px;
}

.hero-btns .btn{
    border: 0;
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
}

.hero-btns .btn.dark-btn{
    color: #fff;
    background: #6d6d6eb3;
}

.hero-btns .btn:hover{
    background: #ffffffbf;
}

.hero-btns .btn.dark-btn:hover{
    background: #6d6d6e66;
}
.more-cards{
    padding-left: 4%;
}

@media (max-width: 1024px) {
    .hero-caption .title-cards{
        display: none;
    }
    .hero-btns{
        margin-bottom: 20px;
    }
    .caption_img{
        margin-bottom: -30px;
    }
}

@media (max-width: 800px) {
    .hero-caption{
        padding-left: 4%;
    }
    .caption_img{
        margin-top: 80px;
        width: 18%;
    }

    .hero-caption p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .hero-btns .btn img{
        width: 20px;
    }
    .more-cards{
        padding-left: 4%;
    }
}

@media (max-width: 500px) {
    .caption_img{
        display: none;
    }
    .hero-btns .btn img{
        width: 15px;
    }
    .hero-btns .btn{
        padding: 4px 10px;
        gap: 5px;
        font-size: 10px;
    }
    .hero-caption p{
        display: none;
    }
}